@font-face {
  font-family: 'Humanst521 BT';
  src: local('../font/humanst521bt.ttf') format('ttf');
}

html, body {
  font-family: 'Humanst521 BT';
  overflow-x: hidden;
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  color: #fff !important;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar {
  grid-area: navbar;
}

.home {
  background-image: url('../img/homeBackground.jpg');
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    'navbar'
    'home-content';
}

.home-content {
  grid-area: home-content;
}

.text-secondary {
  color: #cccccc !important;
}

.display-5 {
  font-size: 2em;
}

.btn-home {
  background-color: #04b69f;
  border-color: #04b69f;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
  width: 36%;
}

.btn-home:hover {
  color: #ffffff;
}

.outline {
  background-color: transparent;
}

.outline:hover {
  background-color: #04b69f;
}

.bg-purple {
  background-color: transparent;
}

@media only screen and (max-width: 767px){
  .bg-purple {
    background-color: #7c057ecb;
  }
}
