@font-face {
  font-family: 'Humanst521 BT';
  src: local('../font/humanst521bt.ttf') format('ttf');
}

html, body {
  font-family: 'Humanst521 BT';
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-areas:
    'navbar'
    'home'
    'us'
    'services'
    'portfolio'
    'customers'
    'contact'
    'footer';
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  color: #fff !important;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar {
  grid-area: navbar;
  transition: 0.3s;
}

.home {
  background-image: url('../img/homeBackground.jpg');
  background-size: cover;
  height: 100vh;
  grid-area: home;
  display: grid;
  grid-template-areas: 
    '.        .        .'
    '.        .        .'
    '.  home-content   .'
    '.        .        .';
}

.slogan {
  margin-top: 150px;
}

.us {
  grid-area: us;
}

.services {
  grid-area: services;
}

.portfolio {
  grid-area: portfolio;
}

.contact {
  grid-area: contact;
}

.portfolio img {
  width: 100%;
  margin-bottom: 20px;
}

.customers {
  grid-area: customers;
}

.customers img {
  width: 100%;
  margin-bottom: 20px;
}

footer {
  grid-area: footer;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #94097D;
}

.info {
  background-image: url('../img/servicesBackground.jpg');
  background-size: cover;
}

.info-title {
  margin-top: 3%;
}

.info-text {
  margin-bottom: 8%;
}

.home-content {
  grid-area: home-content;
}

.us-content {
  margin-top: 3%;
  margin-bottom: 2%;
}

.customers-content {
  margin-top: 3%;
  margin-bottom: 2%;
}

.contact-content {
  margin-top: 3%;
  margin-bottom: 2%;
}

.text-secondary {
  color: #cccccc !important;
}

.display-5 {
  font-size: 3em;
}

.display-6 {
  font-size: 2em;
} 

.btn-home {
  background-color: #04b69f;
  border-color: #04b69f;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
  width: 36%;
}

.btn-home:hover {
  color: #ffffff;
}

.btn-submit {
  background-color: #04b69f;
  border-color: #04b69f;
  color: #ffffff;
  box-shadow: 0 0 1px  rgba(0,0,0,0.6);
  margin-bottom: 20px;
  margin-top: 10px;
  width: 20%;
}

.outline {
  background-color: transparent;
}

.outline:hover {
  background-color: #04b69f;
}

.bg-purple {
  background-color: transparent;
}

.scrolled {
  background-color: #94097D;
  transition: 0.3s;
}

.offer {
  padding-bottom: 80px;
}

.gabinete {
  color: #8F0069;
}

.neon {
  color: #FF414C;
}

.aluminio {
  color: #00CDDA;
}

.senaletica {
  color: #FF5328;
}

.circle > p {
  margin-bottom: 0px;
}

.map {
  width: 100%;
  height: 100%;
}

.underline {
  text-decoration: underline;
}

input {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px){
  .bg-purple {
    background-color: #94097D;
  }

  .hidden-sm {
    display: none;
  }

  .map {
    margin-bottom: 150px;
  }

  .btn-submit {
    width: 100%;
  }

  .circle {
    display: inline-block;
    width:120px;
    height:120px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:100px;
  }
}

@media only screen and (min-width: 768px){
  .hidden-md {
    display: none;
  }

  .circle {
    position: absolute;
    bottom: -20px;
    width:120px;
    height:120px;
    background-color: #fff;
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:100px;
  }
}

.project {
  margin-top: 20px;
}

.roxogu:hover {
  text-decoration: none;
} 
